
.sectionCard {
  background: var(--gray-400);
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  min-height: 4.5rem;
  gap: 15px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 15px;
  margin-bottom: 15px;
}

.labelIcon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.labelIcon .check {
  text-decoration: line-through;
}
