.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 46rem;
  width: 100%;
}



.sectionContainer {
}



.sectionTitle {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 1.5rem;

}

.sectionTitle div{
  display: flex;
  gap: 10px;

}

.sectionNewTask{
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-200);
  font-weight: 700;
  background: #333333;

  min-width: 30px;
  min-height: 25px;
  border-radius: 25px;
  padding: 0px 10px;
}
